// define variables
//
$header-border: #bababa;
$header-bg: #e0e0e0;
$header-selectd-bg: #ccc;
$even-bg: #f4f4f4;
$disabled-bg: gray;
$hover-bg: #f0f0f0;
$selected-bg: #e6e6e6;
$active-bg: #fff;
$body-border: #cacaca;
$row-header-width: 30px;
//
// mixins
//
@mixin non-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

@mixin no-padding-margin {
  margin: 0;
  padding: 0;
}

@mixin nowrap-one-row {
  // line-height: 26px;
  white-space: nowrap;
}

@mixin text-one-row {
  // text-indent: 4px;
  padding: 0 4px;
  vertical-align: top;
  border: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

@mixin fixed-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

// start the content
//
.d-grid {
  border: 1px solid rgb(162, 173, 184);
  position: relative;
  font-size: .75rem;
  font-family: Tahoma, Geneva, Verdana, sans-serif, 'PingFang SC', 'Microsoft YaHei UI';
  overflow: hidden;
  .d-grid-table-header {
    width: 100%;
    @include no-padding-margin;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    position: relative;
    border-bottom: 1px solid $header-border;
    th {
      @include no-padding-margin;
      word-wrap: break-word;
      white-space: normal;
      div {
        overflow: hidden;
        line-height: 18px;
      }
    }
  }
  .d-grid-header {
    overflow: hidden;
    background-color: $header-bg;
    @include nowrap-one-row;
    .d-column-header {
      @include non-selectable;
      border-right: 1px solid $header-border;
      font-weight: normal;
      position: relative;
      &:first-child {
        @include fixed-width($row-header-width);
      }
    }
    .d-column-selected {
      background-color: $header-selectd-bg;
    }
    .d-column-header-text {
      margin: 4px;
      box-sizing: border-box;
      >span {
        >input {
          margin-left: 0;
          margin-right: 4px;
        }
      }
    }
    .d-column-header-split {
      position: absolute;
      height: 100%;
      top: 0;
      right: -4px;
      width: 8px;
      z-index: 1;
      cursor: ew-resize;
    }
  }
  .d-grid-body {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 27px;
    bottom: 0;
    .d-grid-body-content {
      position: absolute;
      min-width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }
    .d-grid-row {
      @include nowrap-one-row;
      background-color: #fff;
      border-bottom: 1px solid $body-border;
      min-width: 100%;
      &:nth-child(even) {
        background-color: $even-bg;
      }
      &:hover {
        background-color: $hover-bg;
        >td>input[type="text"] {
          background-color: $hover-bg;
        }
      }
      &.d-grid-row-selected {
        background-color: $selected-bg;
        >td:first-child>div {
          background-color: $header-selectd-bg;
        }
        >td>input[type="text"] {
          background-color: $selected-bg;
        }
        .d-grid-cell-selected {
          background-color: $active-bg;
          >input[type="text"] {
            background-color: $active-bg;
          }
          // >input[type="text"]:disabled {
          //   background-color: rgb(235, 235, 228);
          // }
        }
      }
      .d-grid-cell-selected {
        background-color: $selected-bg;
        >input[type="text"] {
          background-color: $selected-bg;
        }
      }
      >td {
        border-right: 1px solid $body-border;
        overflow: hidden;
        text-overflow: ellipsis;
        @include no-padding-margin;
        &:first-child {
          @include non-selectable;
          text-align: center;
          position: relative;
          @include fixed-width($row-header-width);
          >div {
            // width: $row-header-width;
            // display: table-cell;
            // vertical-align: middle;
            background-color: $header-bg;
          }
          .d-row-header-split {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 6px;
            z-index: 1;
            cursor: ns-resize;
          }
        }
        &:last-child {
          border-right: none;
        }
        >div {
          height: inherit;
          box-sizing: border-box;
          >input[type="text"] {
            @include text-one-row;
            &:disabled {
              color: $disabled-bg !important;
              background-color: rgb(235, 235, 228) !important;
            }
          }
        }
      }
    }
  }
}
